<h2>Your Visit is Scheduled!</h2>
<p>Dear {{name}},</p>
<p>Thank you for scheduling a visit with ModaFlor.</p>
<p><b>Date:</b> {{date}}<br/><b>Time:</b> {{time}}</p>
<p>We look forward to meeting you. If you need to reschedule, please reply to this email.</p>
<p>Best regards,<br/>ModarFlor Team</p>
