<h2>Thank You for Subscribing!</h2>
<p>Dear Customer,</p>
<p>Thank you for subscribing to  ModarFlor updates. We appreciate your interest and will keep you informed about our latest news and offers.</p>
<p>Best regards,<br/> ModarFlor Team</p>
